<!DOCTYPE HTML>
<html>
	<head>
		<link rel="sortcut icon" href="../../images/3.png" type="image/gif" />
		<title>Sorte Verde</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header" class="wrapper">
				<div class="row" style="margin-top:-410px"> 
					<a href="home.html"> <img src="../../images/2.png" alt="logo" style="width:100px; height:100px; margin-bottom:55px" /> </a>
				</div>
				<!-- Logo -->
					<div id="logo">
						<img src="../../images/1.png" alt="" style="width:600px; margin-bottom:50px; margin-left: 115px;" />
					</div>
					<!-- Nav -->
						<nav id="nav">
							<ul class="margin-top=-200px">
								<li class="current"><a href="home.html">Home</a></li>
								<li><a href="materias.html">Matérias</a></li>
								<li><a href="cadastro.html">Cadastro</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="coleta.html">Coleta</a></li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
            <div class="container">
                <header class="style1">
                    <h2>Deseja se cadastrar no Sorte Verde?</h2>
                    <p>
                        Preencha o formulário abaixo:.<br />
                    </p>
                </header>
                <div class="row">
                    <div class="col-12 col-12-medium">

                        <!-- Contact Form -->
                            <section>
                                <form method="post" action="#">
                                    <div class="row">
                                        <div class="col-12 col-12-small">
                                            <input type="text" name="nome" id="nome" placeholder="Nome" />
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="text" name="data_nascimento" id="data_nascimento" placeholder="Data de Nascimento" mask="99/99/9999"/>
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="email" name="email" id="email" placeholder="E-mail" />
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="text" name="cep" id="cep" placeholder="CEP" mask="999.999.999-99"/>
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="text" name="endereco" id="endereco" placeholder="Endereço" />
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="text" name="complemento" id="complemento" placeholder="Complemento" />
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="password" name="complemento" id="senha" placeholder="Senha" />
                                        </div>
                                        <div class="col-12 col-12-small">
                                            <input type="password" name="confirma_senha" id="confirma_senha" placeholder="Confirme sua senha" />
                                        </div>
                                        
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input type="submit" class="style1" value="Enviar" /></li>
                                                <li><input type="reset" class="style2" value="Limpar" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </section>

                    </div>
                </div>
            </div>
                
				<!-- Footer -->
				<div class="container body-content">
					<footer class="fixarRodape">
						<br>
						<p>&copy; Sorte Verde</p>
					</footer>
				</div>
		</div>


	</body>
</html>