<!DOCTYPE HTML>
<html>
	<head>
		<link rel="sortcut icon" href="./images/3.png" type="image/gif" />
		<title>Sorte Verde</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header" class="wrapper">
				<div class="row" style="margin-top:-410px"> 
					<a href="home.html"> <img src="./images/2.png" alt="logo" style="width:100px; height:100px; margin-bottom:55px" /> </a>
				</div>
				<!-- Logo -->
					<div id="logo">
						<img src="./images/1.png" alt="" style="width:600px; margin-bottom:50px; margin-left: 115px;" />
					</div>
					<!-- Nav -->
						<nav id="nav">
							<ul class="margin-top=-200px">
								<li class="current"><a href="home.html">Home</a></li>
								<li><a href="materias.html">Matérias</a></li>
								<li><a href="cadastro.html">Cadastro</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="coleta.html">Coleta</a></li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title" style="color:black">Sobre nós</div>
					<div class="container">
						<p class="style3" style="color:black">O objetivo desse site é ser um portal 
							com dicas e matérias sobre reciclagem e meio ambiente. 
							O site permite que seu usuário cadastre um login para buscar 
							os melhores lugares para descartar os resíduos. Nós estimulamos 
							a correta destinação de resíduos, como pilhas, baterias e equipamentos 
							eletrônicos, pois lixo só é ruim quando descartado de maneira errada, 
							se corretamente destinado ele se transforma em fonte de renda para várias pessoas, 
							além de reduzir os impactos ambientais ao planeta. Para cada tipo de resíduo tem a 
							aba para você buscar as associações ou centros de triagens mais próximos. Além disso, 
							tem matérias relevantes e dicas de como obter hábitos mais sustentáveis e ecológicos. </p>
						
					</div>
				</section>
				<!-- Footer -->
				<div class="container body-content">
					<footer class="fixarRodape">
						
						<p>&copy; Sorte Verde</p>
					</footer>
				</div>
		</div>


	</body>
</html>