<!DOCTYPE HTML>
<html>
	<head>
		<link rel="sortcut icon" href="./images/3.png" type="image/gif" />
		<title>Sorte Verde</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header" class="wrapper">
				<div class="row" style="margin-top:-410px"> 
					<a href="home.html"> <img src="./images/2.png" alt="logo" style="width:100px; height:100px; margin-bottom:55px" /> </a>
				</div>
				<!-- Logo -->
					<div id="logo">
						<img src="./images/1.png" alt="" style="width:600px; margin-bottom:50px; margin-left: 115px;" />
					</div>
					<!-- Nav -->
						<nav id="nav">
							<ul class="margin-top=-200px">
								<li class="current"><a href="home.html">Home</a></li>
								<li><a href="materias.html">Matérias</a></li>
								<li><a href="cadastro.html">Cadastro</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="coleta.html">Coleta</a></li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title" style="color:black">Matérias</div>
					<div class="">
						<h1 style="color:black">Brasil perde US$ 1,5 bi por ano com desmatamento da Amazônia, diz estudo</h1>
						<h6 style="color:black">Estimativa é conservadora e leva em conta receitas que poderiam ser obtidas se áreas desmatadas fossem manejadas dentro da lei e de uma política sustentável </h6>
                        <br>
                        <img src="./images/editop_verde_brasil_20190901_abr_1697.jpg" alt="" style="width:600px; margin-bottom:50px; margin-left: 115px;" />
                        <p style="color:black">A revisão da política brasileira na Amazônia para um modelo que privilegie o manejo sustentável da floresta tem o potencial de gerar 
                            US$ 1,5 bilhão por ano em receitas, e mais US$ 220 milhões em Imposto sobre Circulação de Mercadorias e Serviços (ICMS) para os Estados 
                            amazônicos e de outras regiões. O número está em estudo publicado pela Chatham House, think thank sediado em Londres.
                            O grupo de pesquisadores foi liderado pelo brasileiro Ricardo Miranda Leitão, mestre em políticas públicas pela Universidade de 
                            Oxford e fiscal da Secretaria da Fazenda do Pará. Também participaram do estudo Anum Farhan, Alison Hoare e Thiago Uehara, 
                            que são da equipe da própria Chatham House. </p>
					</div>
				</section>
				<!-- Footer -->
				<div class="container body-content">
					<footer class="fixarRodape">
						
						<p>&copy; Sorte Verde</p>
					</footer>
				</div>
		</div>


	</body>
</html>